USE [NPC.dev]
GO
/****** Object:  Table [dbo].[tbl_Test]    Script Date: 12/28/2023 4:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Test](
	[Id] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
