################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NPC/FileContentIndex
/NPC.Server/obj
