################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NPC/FileContentIndex
/NPC.Server/obj
/.vs/NPC/v17
/npc.client/obj/Debug
/NPC.Server/bin/Debug/net8.0
/.vs/NPC/config
