html, body {
  height: 100% !important;
  margin: 0 !important;
}

.flexbox-container {
  background: #08080852;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  min-height: 98vh;
  flex-wrap: wrap;
}




.flexbox-item {
  max-height: 50%;
  background: #eff6ff;
  font-size: 15px;
}

.fixed {
  flex: none;
  max-width: 50%;
}



.box {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

#npc-logo {
  height: auto;
  width: 60%;
}

.formgroup-inline {
  flex-wrap: nowrap;
}

.btnlogin {
  background-color: #0082cc;
}

.btncancel {
  background-color: #CD383C;
}

.mb-5 {
  margin-bottom: 5rem;
}

.btnregister {
  background-color: #69be47;
}

.top-container {
  display: flex;
  background-color: #ffff;
}

.top-item {
  color: white;
  padding: 1%;
  box-sizing: border-box;
}


.br-20 {
  border-radius: 20px;
}

.er-text {
  color: #ba4b5e;
  font-size: x-large;
  font-weight: 600;
}



.bottom-container {
  display: flex;
  background-color: #0082cc;
}

.bottom-item {
  color: white;
  padding: 1%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btnregisterform {
  margin: 0 5px; /* Optional: Add margin between the buttons */
  width: 50%;
}

.field {
  margin-bottom: 0;
}

.fl-left {
  float: left;
  width: 100%;
}
